.noWallet-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}

.noWallet-container svg {

    width: 25px;
    margin-bottom: .75rem;
}

.noWallet-container svg path {
    fill: #FF7171;
}


.noWallet-container p {
    color: #ffffff;
    font-size: .85rem;
    margin-bottom: 1.75rem;
    max-width: 350px;
    text-align: center;
    line-height: 1.4;
}

.noWallet-container button {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    color: white;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
}

.noWallet-container button:hover {
    background: #2e2e2e;
    border: 1px solid #3b3b3b;
}