html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea {
  cursor: pointer;
}
input {
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}
button {
  border: none;
  outline: none;
  background: none;
}
a {
  text-decoration: none;
}

button,
input,
input::placeholder {
  font-family: "Outfit", sans-serif;
}
body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
  background-color: #1a1a1a;
}

.app-container{
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .app-container{
    margin-top: 70px;
  } 
}

@media screen and (max-width: 500px) {
  .app-container{
    margin-top: 60px;
  } 
}
