.settings-container {
  width: max-content;
  position: relative;
}

.settings-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
}

.settings-button:hover {
  background: #323232;
}

.settings-button svg {
  width: 15px;
  height: 15px;
}

.settings-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
}

.settings-dropdown-items-container {
  position: relative;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 0.5rem 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 200ms ease-in-out;

}

.settings-dropdown-items-container[data-show~="true"] {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  z-index: 50;
}

.settings-dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.85rem;
  padding: 0.3rem 0.75rem;
  color: #676767;
  width: 100%;
  cursor: pointer;
}

.settings-dropdown-item:hover {
  color: white;
  background-color: rgba(168, 168, 168, 0.1);
}

.settings-dropdown-item p {
  margin-left: 0.5rem;
}

.settings-dropdown-item svg {
  width: 14px;
}

.settings-dropdown-item svg path {
  stroke-width: 2;
}

.settings-dropdown-item:hover svg path {
  stroke: white;
}

.settings-dropdown-item-delete {
  color: #ff7171;
}

.settings-dropdown-item-delete:hover {
  color: #ff7171;
  background-color: rgba(255, 112, 112, 0.1);
}

.settings-dropdown-item-delete:hover svg path {
  stroke: #ff7171;
}
